body {
  background-image: url(./bg-pattern.jpg);
}

nav,
.jumbotron {
  box-shadow: 0px 0px 20px 3px black;
}

.progress-display {
  z-index: 10;
  display: none;
  margin: 5px 0 0 5px;
}

#timer,
#score {
  box-shadow: 3px 5px 20px 0px black;
}

#ready-dialogue {
  display: inherit;
}

#quiz-dialogue {
  display: none;
  padding-bottom: 0;
}

.jumbotron > h1 {
  font-size: 3.2em;
  font-weight: 300;
  line-height: 1.2;
}

.answer {
  box-shadow: 4px 4px 15px black;
  margin: 10px 15%;
  width: 68%;
  height: 147px;
}

#next-button,
small {
  display: block;
}

#timeout-dialogue {
  display: none;
  background-color: #e12e1c;
  border-color: #d62c1a;
}

#timeout-dialogue > h1 {
  font-size: 7em;
  text-align: center;
}

.responsive-display {
  display: inherit;
}

.responsive-hide {
  display: none;
}

tbody > tr > th {
  width: 60%;
  padding-right: 0;
}

#name-input {
  width: fit-content;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAABHklEQVQ4EaVTO26DQBD1ohQWaS2lg9JybZ + AK7hNwx2oIoVf4UPQ0Lj1FdKktevIpel8AKNUkDcWMxpgSaIEaTVv3sx7uztiTdu2s/98DywOw3Dued4Who/M2aIx5lZV1aEsy0 + qiwHELyi + Ytl0PQ69SxAxkWIA4RMRTdNsKE59juMcuZd6xIAFeZ6fGCdJ8kY4y7KAuTRNGd7jyEBXsdOPE3a0QGPsniOnnYMO67LgSQN9T41F2QGrQRRFCwyzoIF2qyBuKKbcOgPXdVeY9rMWgNsjf9ccYesJhk3f5dYT1HX9gR0LLQR30TnjkUEcx2uIuS4RnI + aj6sJR0AM8AaumPaM/rRehyWhXqbFAA9kh3/8/NvHxAYGAsZ/il8IalkCLBfNVAAAAABJRU5ErkJggg==');
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: 16px 18px;
  background-position: 98% 50%;
  cursor: auto;
}

small {
  text-align: center;
}

footer {
  width: 100%;
  bottom: 0px;
}

@media (max-width: 576px) {
  .responsive-display {
    display: inline-block;
  }

  table {
    font-size: small;
  }
}

.card-header {
  font-size: 2em;
}

.card-title {
  font-size: 1.3em;
}